@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins";
  background-color: #212121;
}

body {
  overflow-x: hidden;
}
/* Navbar */
.navbar .navbar-brand {
  font-weight: 800;
}

.navbar {
  background-color: #212121;
}
.navbar-nav .nav-item {
  padding: 0 1em;
}

.manut {
  color: #ffed4b;
}

.bg-container {
    height: 100vh;
    clip: auto;
}
.bg-image {
  position: absolute;
  width: 900px;
  right: -100px;
  top: 100px;
}
